* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#full-page {
        /* text-align: center; */
}

html {
    scroll-behavior: smooth;
  }

body {
    background: #fff;
    position: relative;
    font-family: 'Raleway' , sans-serif;
}

a {
    text-decoration: none;
}

main {
    background-color: #ff5722;
}

.nav-class {
    text-align: center;
}

.container {
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-right: auto;
    margin-left: 1em;
}

.tablet {
    display: none;
}

.column {
    width: auto;
}

.row {
    display: block;
}

.heading {
    /* font-size: 1.2em; */
    letter-spacing: 0.03em;
    margin-left: 0.7em;
    padding: 0.35em;
    color: #666;
}

.heading span{
    color: #ff5722;
}

nav {
    display: contents;
}


/* style specifies the padding and margins of unordered list in nav || fetch ul which is under navigation bar (nav tag)*/
nav ul{
    display: contents;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

nav li {
    background-color: #666;
    border-radius: 2em;
    margin: 0.3em;
    padding: 0.4em;
    list-style-type: none;
}

/* style for the anchor tag */
nav li a{
    color: #ff5722;
    text-decoration: none;
}

.box-gray {
    /* width: 50%; */
    height: 12em;
    background: #444;
    position: relative;
    overflow: hidden;
}

.box-orange {
    /* width: 50%; */
    height: 12em;
    background: #ff5722;
    position: relative;
    overflow: hidden;
}


.text-orange {
    line-height: 1.5625em;
    font-size: 0.938em;
    color: #ff5722;
    margin-top: 0.938em;
    margin-left: 0.938em;
    letter-spacing: 0.0625em;
    text-align: left;
}

.text-gray {
    line-height: 1.5625em;
    font-size: 0.938em;
    color: #444;
    margin-top: 0.938em;
    margin-right: 0.938em;
    letter-spacing: 0.0625em;
    text-align: right;
}

.secondary{ 
    display: none;
  }
  .education-hover:hover .secondary{
    display : block;
  }
  .education-hover:hover .primary{
    display : none;
  }

  .projects-hover:hover .secondary{
    display : block;
  }
  .projects-hover:hover .primary{
    display : none;
  }

  .skills-hover:hover .secondary{
    display : block;
  }
  .skills-hover:hover .primary{
    display : none;
  }

footer {
    background-color: transparent;
    font-size: .7em;
    text-align: center;
    margin-top: 2em;
    color: #2a2a2a;
}

footer a {
    text-decoration: none;
    color: #2a2a2a;
}

.text-contact {
    line-height: 1.5625em;
    font-size: 0.938em;
    color: #fff;
    margin: 0.938em;
    letter-spacing: 0.0625em;
    text-align: left;
    text-decoration: none;
}


@media only screen and (min-width:688px) {
    .row {
        display: flex;
    }

    #full-page {
        text-align: none;
    }

    .column {
        display: contents;
    }

    .nav-class {
        text-align: center;
        margin-bottom: -0.61em;
    }

    nav li {
        display: inline;
        width: 30%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        float: left;
        padding-left: 0;
        padding-right: 0;
        white-space: nowrap;
        border-radius: 0;
        background-color: transparent;
        padding-top: 1em;
    }

    aside {
        float: right;
    }

    .yellow-box {
        margin: 1em;
        width: 1em;
        height: 1em;
        background-color: #FFEA88;
    }
    .purple-box {
        margin: 1em;
        width: 1em;
        height: 1em;
        background-color: #878BB6;
    }
    .green-box {
        margin: 1em;
        width: 1em;
        height: 1em;
        background-color: #4ACAB4;
    }
    .orange-box {
        margin: 1em;
        width: 1em;
        height: 1em;
        background-color: #FF8153;
    }

    .label { 
        font-size: 0.938em;
        color: #444;
        margin-top: 0.938em;
        margin-right: 0.938em;
        letter-spacing: 0.0625em;
        text-align: left;
        padding-left: 2em;    
    }

    .box-gray {
    margin-top: 0.5em;
    width: 50%;
    height: 12em;
    background: #444;
    position: relative;
    overflow: hidden;
    }

    .box-orange {
        margin-top: 0.5em;
        width: 50%;
        height: 12em;
        background: #ff5722;
        position: relative;
        overflow: hidden;
        }

    .chart {
       display: inline-block;
    }
    .mobile {
        display: none;
    }

    .tablet {
        display: inline;
    }

    footer {
        background-color: #2a2a2a;
        margin-top: -0.2em;
        padding: 2em;
        color: #fafafa;
    }

    footer a {
        text-decoration: none;
        color: #fafafa;
    }
}

@media only screen and (min-width:884px) {
    .row {
        display: flex;
    }

    .nav-class {
        display: flex;
        margin-bottom: 0em;
    }

    nav li {
        width: 10%;
    }

    main {
        background-color: transparent;
        display: inline-block;
        margin-bottom: 9em;
    }

    .chart {
        float: right;
        display: inherit;
    }

    .text-contact {
        color: #444;
    }
    

    p.text {
       padding: 2.5em;
    }

    .mobile {
        display: none;
    }

    
    .tablet {
        display: inline;
    }

    .column {
        display: contents;
    }
    
    footer a {
        text-decoration: none;
        color: #fafafa;
    }
}

@media only screen and (min-width:1031px) {

    /* .box {
        width: auto;
    } */

}