* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    position: relative;
    font-family: 'Raleway' , sans-serif;
}

.container {
    width: 80%;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-right: auto;
    margin-left: auto;
}

.column {
    width: 31.5%;
    display: inline-block;
    margin-left: 14px;
}

.heading {
    font-size: 1.2em;
    letter-spacing: 0.03em;
    margin-left: 0.7em;
    padding: 0.35em;
    color: #666;
}

.heading span{
    color: #ff5722;
}

.box {
    width: auto;
    height: 100%;
    background: #444;
    position: relative;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
    transition: all 0.35s ease-out;
}

.box:after , .box:before {
    content: "";
}

.box:after ,.box:before {
    position: absolute;
    background: #00bcd1;
    width: 3.5em;
    height: 4.5em;
    border-radius: 50%;
    top: -6.8em;
    left: 0.5em;
    transition: all 0.5s ease-in;
    opacity: 0;
}

.box:after {
    top: auto;
    left: auto;
    bottom: -6.8em;
    right: 0.5em;
}

.box:hover:after , .box:hover:before {
    opacity: .75;
    transform: scale(8);
    transition-delay: 0.15s;
}

.bg-color1:after , .bg-color1:before{
    background: #03a9f4;
}

.bg-color2:after , .bg-color2:before{
    background: #ff5722;
}


.box .icon , .box .icon li {
    display: inline-block;
}

.box .icon {
    margin: 0;
    position: absolute;
    bottom: 2em;
    right: 2em;
    z-index: 2;
    transform: scale(0);
    transition: all 0.35s ease-out;
} 

.box:hover .icon{
    transform: scale(1.5);
    transition-delay: 0.25s;
}

.box .icon a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    background: #fff;
    font-size: 0.67em;
    color: #444;
    margin-right: 0.35em;
    position: relative;
    transition: all 0.5s;
    border-radius: 50%;
}

.box .icon a:hover {
    background: #444;
    color: #fff;
} 

.box .box-content {
    padding: 1.0em;
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
}

.box .title {
    font-size: 0.65em;
    font-weight: 800;
    color: #fff;
    margin: 0 0 0.3125em;
    transform: translate(0.25em , 0.25em);
    transition: all 0.35s ease-out;
    opacity: 0;
}

.box:hover .title{
    opacity: 1;
    transform: translate(0 0);
    transition-delay: 0.15s;
}

.box .post {
    display: inline-block;
    font-size: 1.25em;
    color: #fff;
    transform: translate(0.25em , 0.25em);
    transition: all 0.35s ease-out;
    opacity: 0;
}

.box:hover .post{
    opacity: 1;
    transform: translate(0 0);
    transition-delay: 0.15s;
}

p.text {
    line-height: 1.5625em;
    font-size: 0.938em;
    color: #666;
    margin-top: 0.938em;
    letter-spacing: 0.0625em;
    text-align: center;
}