<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <title>Fitness Club</title>
    </head>
    <body>
        <div id="container">
            <!-- This area is for logo -->
        <header>
            <a href="index.html"
            ><img
                src="images/ffc_logo.png" 
                alt="Fitness Club"
                ></a>
        </header>
<!-- This area for assigning the hyperlinks -->
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="classes.html">Classes</a></li>
                <li><a href="nutrition.html">Nutrition</a></li>
                <li><a href="contact.html">Contact us </a></li>
            </ul>
        </nav>
<!-- This area is main content of website -->
        <main>
            
        </main>

<!--footer of webpage -->
        <footer>
            &copy;copyright 2020. All Rights Reserved. <br> 
            <a href="mailto:fitnessclub@club.net">fitnessclub@club.net</a>
        </footer>
    </div>
    </body>
</html>

<!-- ../index.html child to root -->
<!-- figure and figure caption tag -->
<!-- JPEGs best for pics GIFs best for animation -->
<!-- CSS- Cascading Style Sheet -->
<!--  -->